@*@model HukukTakipYeniProje.Models.Entity.ICRALAR*@
@model HukukTakipYeniProje.ViewModels.IcraGetirViewModel
@{
    ViewBag.Title = "IcraGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
    /* Custom button size class */
    .btn-custom-size {
        padding: 8px 16px; /* Adjust the padding to change button size */
        font-size: 14px; /* Adjust the font size to change button size */
    }
</style>

@using (Html.BeginForm("Guncelle", "Icra", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.ICRAID)
                @Html.TextBoxFor(m => m.ICRAID, new { @class = "form-control"@*, @readonly = "readonly"*@ })
                <br />
                @Html.LabelFor(m => m.ICRAUYAPDOSYANO)
                @Html.TextBoxFor(m => m.ICRAUYAPDOSYANO, new { @class = "form-control" })
                <br />
                @Html.LabelFor(m => m.ESASYILNO)
                @Html.TextBoxFor(m => m.ESASYILNO, new { @class = "form-control" })
                <br />
                <label>İcra Avukat</label>
                @Html.DropDownListFor(model => model.SelectedAvukatId, Model.Avukatlar, "Avukat Seçiniz", new { @class = "form-control", id = "SelectedAvukatId" })
                <br />
                @Html.LabelFor(m => m.ICRATAKIPTARIHI)
                @Html.TextBoxFor(m => m.ICRATAKIPTARIHI, new { @class = "form-control" })
                <br />
                @Html.LabelFor(m => m.ICRATAKIPTIPI)
                @Html.TextBoxFor(m => m.ICRATAKIPTIPI, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Müdürlük</label>
                @Html.DropDownListFor(model => model.SelectedMudurlukId, Model.Mudurlukler, "Mudurluk Seçiniz", new { @class = "form-control", id = "SelectedMudurlukId" })
                <br />
                @Html.LabelFor(m => m.ICRAMAHIYETKODU)
                @Html.TextBoxFor(m => m.ICRAMAHIYETKODU, new { @class = "form-control" })
                <br />
                @Html.LabelFor(m => m.ICRAAVUKATTEVZINO)
                @Html.TextBoxFor(m => m.ICRAAVUKATTEVZINO, new { @class = "form-control" })
                <br />
                <label>İcra Ürün</label>
                @Html.DropDownListFor(model => model.SelectedUrunId, Model.Urunler, "Urun Seçiniz", new { @class = "form-control", id = "SelectedUrunId" })
                <br />
                @Html.LabelFor(m => m.ICRAMIKTAR)
                @Html.TextBoxFor(m => m.ICRAMIKTAR, new { @class = "form-control" })
                @*<br />
                @Html.LabelFor(m => m.ICRAIHTARID)
                @Html.DropDownListFor(model => model.SelectedIhtarId, Model.Ihtarlar, "Ihtar Seçiniz", new { @class = "form-control", id = "SelectedIhtarId" })*@
            </div>
        </div>
    </div>
    <div class="text-right" style="margin-top: 15px;">
        <button class="btn btn-success btn-custom-size">İcra Güncelle</button>
    </div>
}


<script>
    $(document).ready(function () {
        // Get a reference to the dropdown element
        var dropdown = $("#SelectedAvukatId");

        // Attach a click event handler to the dropdown
        dropdown.click(function () {
            // Get the selected value
            var selectedValue = $(this).val();

            var dropdown2 = $("#SelectedMudurlukId");

            // Attach a click event handler to the dropdown
            dropdown2.click(function () {
                // Get the selected value
                var selectedValue = $(this).val();

                var dropdown3 = $("#SelectedUrunId");

                // Attach a click event handler to the dropdown
                dropdown3.click(function () {
                    // Get the selected value
                    var selectedValue = $(this).val();

                    //var dropdown4 = $("#SelectedIhtarId");

                    //// Attach a click event handler to the dropdown
                    //dropdown4.click(function () {
                    //    // Get the selected value
                    //    var selectedValue = $(this).val();



            //// Do something with the selected value
            //alert("a");

            // You can also send the selected value to the server using AJAX if needed

        });
    });
</script>

@*<script>
    $(document).ready(function () {
        // Get a reference to the dropdown element
        var dropdown = $("#SelectedMudurlukId");

        // Attach a click event handler to the dropdown
        dropdown.click(function () {
            // Get the selected value
            var selectedValue = $(this).val();

            //// Do something with the selected value
            //alert("a");

            // You can also send the selected value to the server using AJAX if needed
        });
    });
</script>


<script>
    $(document).ready(function () {
        // Get a reference to the dropdown element
        var dropdown = $("#SelectedUrunId");

        // Attach a click event handler to the dropdown
        dropdown.click(function () {
            // Get the selected value
            var selectedValue = $(this).val();

            //// Do something with the selected value
            //alert("a");

            // You can also send the selected value to the server using AJAX if needed
        });
    });
</script>*@
